{% extends "layout.html" %}

{% block title %}
    Sell stocks
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-select mx-auto w-auto">
                <option disabled="" selected="">
                    Symbol
                </option>
                {% for symbol in symbols %}
                    <option value="{{ symbol.symbol }}"> {{ symbol.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input type="number" name="shares" class="form-control mx-auto w-auto" placeholder="Shares to sell" autocomplete="off" min="1"><br>
        </div>
        <button class="btn btn-success" type="submit">Sell</button>
    </form>
{% endblock %}
